{% extends 'base.html' %}


{% block javascript_include %}<{% endblock %}

{% block content %}

  <div class="header">
    <h1>{% block title %} About {% endblock %}</h1>
  </div>
  <div class="content">

    <h2>What is this box?</h2>
    <p>
    This is <i>beanbot</i>, an RFID-based system for keeping track of your coffee in a modern, over-engineered way. Note that this is essentially an electronic honesty box - <i>your card will not be modified by this system, and you will not be charged through college or otherwise.</i> Payment must still be made by bank transfer.
    </p>
    <h2>
      How do I use it?
    </h2>
    <p>
    <ol>
      <li>Select the coffee you wish to mark on your record.</li>
      <li>Tap your camcard.</li>
      <li>That's it!</li>
    </ol>
    <h2>
      Registration
    </h2>
    <p>
    This box cannot read the contents of your RFID card. It is therefore necessary to associate your crsid with your card in a short registration step.
    </p>
    <p> If you tap an unregistered card, you will be presented with the following screen:</p>
    <div class="pure-g">
      <div class="pure-g-1" style="background-color:black;"><img class="pure-img-responsive" style="padding:10px;" src="/static/img/unrecognisedRFID.png"></div>
    </div>
    <p>
    Turn the knob to select 'Yes' from beneath, and click the knob to confirm. You will then see a page of CRSid's:
    </p>
    <div class="pure-g">
      <div class="pure-g-1" style="background-color:black"><img class="pure-img-responsive" style="padding:10px;" src="/static/img/selectCRSID.png"></div>
    </div>
    <p>Simply turn the knob to select yours, and click to confirm.</p>

    <h3>If you make a mistake</h3>
    <p>Email db985 to re-associate your card with the correct CRSid.</p>
    <h3>If your CRSid is not shown</h3>
    <p>Email db985 to add your CRSid to the database. If you are impatient, you can instead
    Scroll to the special value <code>OTHER</code>,
    </p>
    <div class="pure-g">
      <div class="pure-g-1" style="background-color:black"><img class="pure-img-responsive" style="padding:10px;" src="/static/img/selectCRSID2.png"></div>
    </div>
    <p>and enter your crsid (or indeed any psuedonym you desire) by hand.</p>

  <h2>FAQ</h2>
  <h3>Who is maintining this?</h3>
  <p>Diego Barberena, db985@cam.ac.uk</p>
  <h3>Will this break my camcard?</h3>
  <p>As far as I can tell, no. It has been used well over 1000 times by at least 30 different people, with no reported issues so far.</p>
  <h3>Can you read my college account / card data?</h3>
  <p>I read only your card's ID, all other data on camcards is encrypted. I cannot even read your CRSid directly, which is why you need to register.</p>
  <h3>Do I have to use my camcard?</h3>
  <p>Basically any 125kHz RFID card will work with this system.</p>Such cards can be provided for you if you would prefer not to use your camcard.
  <h3>Do I have to use my real crsid?</h3>
  <p>Strictly speaking, no - however, using a psuedonym will lead to confusion for the accountants.</p>
  <h3>My camcard doesn't work</h3>
  <p>
  For reasons as yet unclear, there have been reports of camcards not being recognised by the reader. If this is the case, you can either</p>
  <ol>
	  <li>Use a different RFID card you own, </li>
	  <li>Buy a standard white RFID card (these are less than £1.00 each), or</li>
	  <li>Ask Diego to find you a spare RFID card.</li>
  </ol>

  <h2>How was it made?</h2>
  See the write-up over on my <a href="https://spuriosity1.github.io/2024-09-23-Beanbot/">personal website</a>.
  </div>
{% endblock %}


{% block javascript %}
{% endblock %}
