{% extends 'base.html' %}

{% block javascript_include %}
<!-- plotly -->
<script type="text/javascript" src="/static/lib/plotly-2.24.1.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

  <div class="header">
    <h1>{% block title %} Statistics {% endblock %}</h1>
  </div>
  <div class="content">

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h3 class='centred'>Weekly Leaderboard</h3>
        <div id="weekly_leaderboard"></div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <h3 class='centred'>All-Time Power Ranking</h3>
        <div id="leaderboard"></div>
      </div>
      <div id="time-plot" class="pure-u-1 pure-u-md-1-3"></div>
    </div>

    <div class="pure-g">
      <div id="main-plot" class="pure-u-1"></div>
    </div>
    
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/plot.js"></script>
{% endblock %}
